{
  "env": {
    "client": {
      "presets": [
        [
          "env",
          {
            "targets": {
              "browsers": ["last 2 versions", "ie 10"]
            }
          }
        ]
      ]
    },
    "server": {
      "presets": [
        [
          "env",
          {
            "targets": {
              "node": "8"
            }
          }
        ]
      ]
    }
  },
  "presets": ["preact"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["."],
        "alias": {
          "views": "./src/app/views",
          "components": "./src/app/components",
          "css": "./src/app/css"
        }
      }
    ],
    "syntax-dynamic-import"
  ]
}
